{% extends 'base.html' %}

{% block navbar-header %}
    <a href="/blog/" class="navbar-brand">Посты</a>
{% endblock %}
{% block logout %}
<ul class="navbar-right navbar-nav nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ cur_user }}
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="caret"></span>
                    </a>
                </li>
                <li><a href="/logout/" class="navbar-link">Выйти<span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
{% endblock %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
          <h1 class="display-3">{{ post.title|safe }}</h1>
            <p class="lead" style="text-align: left"><small>{{ post.author.username|safe }}</small></p>
            <p class="lead" style="text-align: center">{{ post.content|safe }}</p>
        </div>
    </div>
    <div id = 'commenters'>
    {% for comment in pagination_list %}
        <a name="comment-{{ comment.id }}"></a>
        <div class="row" id="{{ comment.id }}">
            <div class="col-md-{{ comment.get_col }} col-md-offset-{{ comment.get_offset }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ comment.author_id.get_full_name|default:comment.author_id.username }}</strong>&nbsp;&nbsp;
                        {{ comment.pub_date }} #{{ comment.id }}
                    </div>
                    <div class="panel-body" id="comment">
                        <div>{{ comment.content|safe }}</div>
                        <button type="button" class="btn btn-success reply" id ='{{ comment.path }}' onclick='showPath(this)'>Ответить</button>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

    {% if pagination_list %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    {% if previous_page %}
                        <li class="page-item"><a class="page-link" href="?page={{ previous_page }}">{{ previous_page }}</a></li>
                    {% endif %}
                        <li class="page-item"><a class="page-link" href="?page={{ cur_page }}">{{ cur_page }}</a></li>
                    {% if next_page %}
                        <li class="page-item"><a class="page-link" href="?page={{ next_page }}">{{ next_page }}</a></li>
                    {% endif %}
                <li class="page-item"><a class="page-link" href="?page={{ pages }}">Last</a></li>
            </ul>
        </nav>
    {% endif %}
    </div>
    {% load widget_tweaks %}
     <form method="post" class="form-horizontal" id = 'postcomment'> {% csrf_token %}
       <div class="form-group" style="margin-left: 2%">
        <div class="col-sm-3 left">{{ comment_form.comment|add_class:"form-control" }}</div>
           <input type="hidden" id="parent_path" name ="parent_path" value="">
           <div class="row">
            <div class="col-md-3 ">
                <button class="btn btn-block btn-lg btn-file btn-success" type="submit">Добавить коментарий</button>
            </div>
        </div>
           </div>
    </form>
{% endblock %}
